:root {
    --color-principal: red;
    --fuente: Verdana;
    --funte-size: 45px
}

h1 {
    color: var(--color-principal);
    font-family: var(--fuente);
    font-size: var(--funte-size);
}

p {
    font-family: var(--fuente);
}

a {
    color: var(--color-principal);
}