.fa-html5:hover {
    color: #EF642A;
}

.fa-css3-alt:hover {
    color: #0091CA;
}

.fa-js:hover {
    color: #EFD81D;
}

.fa-react:hover {
    color: #5DD3F3;
}

.fa-angular:hover {
    color: #D61A15;
}

.fa-typescript:hover {
    color: #0076C5;
}

.fa-node-js:hover {
    color: #509940;
}

.fa-php:hover {
    color: #7E8CC1;
}

.fa-git-alt:hover {
    color: #E84D31;
}


.mon:hover {
    color: #509940;
}

.my:hover {
    color: #006589;
}

.sql:hover {
    color: #CE8726;
}